# Dependencies
node_modules/
dist
.turbo
*.tsbuildinfo
.env
.firebase
package-lock.json

# IDEs and OS files
.vscode/
.idea/
Thumbs.db
.DS_Store

# Temporary / Scratch Files
.scratch/

# Build outputs (TypeScript compile outputs are inside public/js)
# Optional: if you prefer to build in production, you can keep or ignore compiled output.
# public/js/app.js
